h1, body, html, main {
  margin: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

h1 {
  text-align:center;
  color: #ffffff;
  font-size:4em;
  font-weight: lighter;
  
}

header {
  background-image: url("../images/apple-pie.jpg");
  background-size:cover;
  height: 350px;
  padding-top:200px;
  margin: auto 250px;

}

.container{
  width:800px;
  Margin:0 auto;
  Padding:75px 0;
}

 #description {
  text-align: center;
}

ul{
  list-style:none;
}

#ingredients li::before{
  content: '- ';
}

#ingredients div {
  text-align: center;
}

ol{
  counter-reset: section;  /*  reseteas la numeracion   */
  list-style: none;       /* borras la numeracion */
}

#directions li::before{
  counter-increment: section; /* con esta instruccion le pones otra vez la numeracion sin el punto */
  content: counter(section) ") "; /* y con esta añades el parentesis */
}
